#contact_modal {
    display: none;
}
.position_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.form label {
    color: #312E2E;
    font-size: 36px;
}

.form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photographers-banner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-wrap: nowrap;
}

.photographers-image {
    display: flex;
    flex-direction: row;
}

#container-photo{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    margin: 20px;
}

.photo_form{
    display: flex;
    align-items: center;
    padding: 50px 8%;
}

.picture-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 600px;
}

.picture-container img{
    width: 80%;
    height: 80%;
}


.picture-details{
    display: flex;
    justify-content: space-between;
    width: 530px;
    font-size: xx-large;
    color: #901C1C;
}

.picture-likes{
    margin-left: 35px;
}

.picture-image{
    width: 350px;
    height: 300px;
}

.picture-video{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 600px;
}

.picture-video img{
    width: 90%;
    height: 80%;
}

.header-name {
    font-size: 50px;
    color: #D3573C;
    font-family: "DM Sans";
}

.style-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tagline-photographer{
    display: flex;
    justify-content: left;
}

.photographer-form {
    margin-right: 156px;
    margin-top: 60px;
}

.heart-detail {
    max-width: 40px;
}
.like-details{
    display: flex;
    flex-direction: row;
    margin-right: 60px;
}

.detail-like{
    margin-right: 20px;
}


#nav-bar{
    display: flex;
    /* flex-direction: row; */
    justify-content: end;
    gap: 30px;
    padding-right: 20px;
    /* padding-top: 40px; */
    border-style: double;
    width: 200px;
    bottom: 0px;
    right: 0px;
    position: fixed;
}

/*width: 200px;*/
/*    height: 230px;*/
/*    object-fit: cover;*/
/*    display:  block;*/
/*    overflow: hidden;*/

.column-sort{

}

.title-sort{

}

.sort-class{
    display: flex;
    flex-direction: row;
    gap: 38px;
}

#sort-like{

}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background-color: white;
   box-shadow: #FAFAFA;
    border-radius: 3px;
    padding: 20px;
    transform: translateY(100vw);

}

.modal--open {
    transform: inital;
}

.modal_close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.modal_close svg{
    width: 20px;
    height: 20px;
}

.carouselModal{
    width: 2140px;
    height: 2140px;
    position: fixed;
    display: none;
}

.carousselImage{
    width: 1000px;
}

.carousel-content {
    display: flex;
    justify-content: center;
}

.arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 100px;
    margin: 15px;
}

.arrow-reverse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 100px;
    margin: 15px;
}


.exit {
    font-size: xxx-large;
    font-weight: bold;
    margin: 15px;
}

.style_title {

}

.title-photo {
    display: flex;
    justify-content: center;
}

.style_second-layer{

}